@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200&');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100&display=swap');

.parentBox {
  width: 500px;
  height: 500px;
  margin: auto;
  position: relative;
  background-color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.wrapper {
  border: 1px solid red;
  display: contents;

}


.InnerBox {
  background-color: #FFA0AE;
  width: 200px;
  height: 200px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  transition: scale 1s, opacity 1s ease-in-out;
  animation: animatebackground 15s linear infinite;
  background: url("https://images.unsplash.com/photo-1503455637927-730bce8583c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80")
    /* background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(48, 156, 180, 1) 39%); */
    /* transition: transform 0.1s; */
}

.namewrapper {
  /* border: 1px solid red; */
  display: flex;
  height: 100%;
  width: 50%;
  place-content: center;
  overflow: hidden;
  border-radius: 30px;
}


.svg1 {
  margin: auto;
  stroke: black;
  fill: none;
  stroke: white;
  stroke-width: 0.5;

}

.path {
  stroke-dasharray: 200;
  width: 20px;
  height: 20px;
  animation: dash 4s linear forwards;
}

.biowraper {
  width: 100%;
  height: auto;
  transition: opacity 1s;
  opacity: 0;
  padding: 8px;
  /* box-shadow: 10px 10px 10px 10px pink; */
}

.bio {

  /* height: auto; */
  text-align: start;
  font-size: 10px;
  color: black;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  font-family: 'Cairo';
  text-align: center;
  line-height: 0.8;
  line-height: 2.5;
}

.ltbca {
  text-align: start;
  font-size: 5px;
  color: #333;
  margin: 0px;
  padding: 0px;
  /* font-weight: regular; */
  font-family: 'Cairo';
  text-align: center;
  /* line-height: 0.8; */
  /* line-height: 2.5; */
}

.morphing {
  height: 57px;
  width: 277px;
  position: absolute;
  color: black;
  mix-blend-mode: overlay;
  right: 0;
  margin-top: -14px;
  left: -50px;
  text-align: center;
  z-index: 100;
}

.POS {
  position: absolute;
  white-space: nowrap;
  margin: 0px;
  width: 100%;
  /* animation: POS 10s infinite ease-in-out; */
  /* filter: contrast(20) blur(1px); */
  font-size: 25px;
  color: black;
  mix-blend-mode: multiply;
  font-weight: bold;

  font-family: 'cairo';
}

.POS:nth-child(1) {
  animation-delay: -8s;
  left: 10px;
  font-size: 30px;
}

.POS:nth-child(2) {
  animation-delay: -6s;
  left: 17px;
  font-size: 30px;
}

.POS:nth-child(3) {
  animation-delay: -4s;
  left: 16px;
  font-size: 30px;
}

.POS:nth-child(4) {
  animation-delay: -2s;
  left: 14px;
  font-size: 30px;
}




.resttextwrapper {
  width: 90%;
  text-align: center;
  font-family: cairo;
  position: absolute;
  bottom: 49px;
  font-weight: bold;
  font-family: 'Work Sans';
  text-align: center;
  line-height: 0.8;
  line-height: 1.5;
  font-size: 8px;
}



.nlimage {
  width: 10px;
  line-height: 0.8;
  height: 10px;
  rotate: 20px;
  transform: rotate(-18deg);

}






.infowrapper {
  width: 90%;
  display: flex;
  justify-content: space-around;
  height: 20px;
  position: absolute;
  /* top: 189px; */
  bottom: 8px;
  align-items: center;
}

.infowrapper img {
  cursor: pointer;
  width: 15px;
  height: 15px;

}

.infowrapper img {
  cursor: pointer;
  width: 15px;
  height: 15px;

}

.infowrapper svg:hover {
  opacity: 0.5;
  fill: yellow;


  /* background-color: white; */
}

.resume {
  width: 17px !important;
  height: auto !important;

}



@keyframes animatebackground {
  0% {
    background-position: 400px 400px;
  }

  100% {
    background-position: 200px 200px;
  }
}

@keyframes dash {
  from {
    stroke-dashoffset: 200;
  }

  to {
    stroke-dashoffset: 0;
  }
}

@keyframes POS {

  0%,
  5%,
  100% {
    filter: blur(0px);
    opacity: 1;
  }

  20%,
  80% {
    filter: blur(1em);
    opacity: 0;
  }
}


@media (max-width: 650px) {

  .parentBox {
    width: 100%;
  }

  .POS {
    position: absolute;
    white-space: nowrap;
    margin: 0px;
    width: 100%;
    /* animation: POS 10s infinite ease-in-out;
    filter: contrast(20) blur(1px); */
    font-size: 25px;
    color: black;
    mix-blend-mode: multiply;
    font-weight: bold;

    font-family: 'cairo';
  }

  .POS:nth-child(1) {
    animation-delay: -8s;
    left: 14px;
    font-size: 12px;
  }

  .POS:nth-child(2) {
    animation-delay: -6s;
    left: 14px;
    font-size: 15px;
  }

  .POS:nth-child(3) {
    animation-delay: -4s;
    left: 14px;
    font-size: 15px;
  }

  .POS:nth-child(4) {
    animation-delay: -2s;
    left: 14px;
    font-size: 15px;
  }

  .resttextwrapper {
    font-size: 7px;
    width: 130px;
    margin: 0 0 0px 28px;

  }

  .infowrapper {
    justify-content: space-evenly;
  }

  .morphing {
    margin-top: 0px;

  }

}